/* Base CSS Setup */
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: $background;
}

.content-container {
    max-width: 100%;
    z-index: 10;
    margin-bottom: 50px;
}

/* Square buttons for homepage */
.btn-sq {
    width: 100% !important;
    height: 100% !important;
    background-color: $bg-dark;
    border-color: $bg-dark;
    color: $text-dark;
}

.btn-main {
    color: #fff;
    background-color: $nav-elem;
    border-color: $nav-elem;
}

.btn-nav {
    width: 45px;
    height: 45px;
}