body {
    background-color: lightgrey;
}

.btn-sq {
    width: 100% !important;
    height: 100% !important;
}

.carousel-indicators {
    bottom: -35px !important;
}

.carousel-row {
    height: 200px;
}

.carousel-svg {
    height: 100%;
    width: 130%;
}

.carousel-svg-r {
    height: 100%;
    width: 130%;
    position: absolute;
    left: 30%;
}

.content-container {
    max-width: 100%;
}