/* Chart Container Setups */

// Default chart canvas size
.chart-canvas {
    height: 50vh;
}

// Standard label
.numeric-label {
    text-anchor: middle;
    font-weight: bold;
}

// BarChart
.chart-canvas.bar-chart {
    height: 35vh;
}

// Timeline
.chart-canvas.timeline {
    height: 35vh;
}

// KPIBar
.chart-canvas.kpi-bar {
    height: 12vh;
}

@media screen and (orientation: landscape) {
    .chart-canvas.kpi-bar {
        height: 20vh;
    }
}

// Sparkline
.chart-canvas.sparkline {
    height: 10vh;
}

@media screen and (orientation: landscape) {
    .chart-canvas.sparkline {
        height: 17vh;
    }
}

// KPITile
.kpi-tile {
    height: 200px;
    width: 200px;
}

@media screen and (orientation: landscape) {
    .kpi-tile {
        width: 300px;
    }
}

// BrickWall
.chart-canvas.brick-wall {
    height: 200px;
}