/* Chart Container Setups */
// .chartCol {
//     height: 95vh;
// }

.chart-canvas {
    height: 50vh;
}

.numeric-label {
    text-anchor: middle;
    font-weight: bold;
}

// KPIBar
.chart-canvas.kpi-bar {
    height: 10vh;
}

@media screen and (orientation: landscape) {
    .chart-canvas.kpi-bar {
        height: 17vh;
    }
}

// Sparkline
.chart-canvas.sparkline {
    height: 10vh;
}

@media screen and (orientation: landscape) {
    .chart-canvas.sparkline {
        height: 17vh;
    }
}

.kpi-tile {
    height: 200px;
    width: 200px;
}

@media screen and (orientation: landscape) {
    .kpi-tile {
        width: 300px;
    }
}