/* Navigation Header and Toggle */
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#menuToggle.dropdown-toggle::after {
    content: none;
}

/* Sidebar Definition */
#sidebar {
    position: fixed;
    z-index: 999;
    width: 250px;
    height: 100vh;
    top: 0;
    left: -250px;
    background: $bg-dark;
    color: $text-dark;
    transition: all 0.3s;
    overflow-y: scroll;
}

#sidebar.active {
    left: 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#dismiss {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
    line-height: 35px;
    text-align: center;
    background: $bg-dark;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 998;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: $bg-dark;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid $bg-dark;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: $active;
}

a[data-toggle="collapse"] {
    position: relative;
}

/* Three-Dot dropdown toggle */
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* Page Content */
#content {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}