head
  title Mobile Dashboard
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="description" content="A Progressive Web App to create mobile dashboards using D3js.")
  meta(name="author" content="Nils Höll")
  
  script(defer src='https://use.fontawesome.com/releases/v5.15.3/js/all.js' crossorigin="anonymous")
  script(src='vendor/jquery/jquery.min.js')
  script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='js/index.js')

  link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='css/main.css')
  link(rel="icon" type="image/png" href="images/icon.png")
