head
  title Mobile Dashboard
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="description" content="A Progressive Web App to create mobile dashboards using D3js.")
  meta(name="author" content="Nils Höll")

  script(defer src='https://use.fontawesome.com/releases/v5.15.3/js/all.js' crossorigin="anonymous")
  script(src='/public/js/vendor/jquery.min.js')
  script(src='/public/js/vendor/d3.min.js')
  script(src='/public/js/index.js' type="module")

  link(rel='stylesheet', href='/public/css/main.css')
  link(rel="icon" type="image/png" href="public/images/icon.png")
