div.modal.fade#kpiModal(tabindex="-1" aria-labelledby="kpiModalLabel" aria-hidden="true")
  div.modal-dialog
    div.modal-content
      div.modal-header
        h5.modal-title#kpiModalLabel Modal title
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body