svg(height="5" width="5" xmlns="http://www.w3.org/2000/svg" version="1.1")
    defs
        pattern#diagonal-stripe(patternUnits="userSpaceOnUse" width="5" height="5")
            image(xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+DQogIDxyZWN0IHdpZHRoPScxMCcgaGVpZ2h0PScxMCcgZmlsbD0nbGlnaHRncmV5JyBmaWxsLW9wYWNpdHk9IjAuNSIvPg0KICA8cGF0aCBkPSdNLTEsMSBsMiwtMg0KICAgICAgICAgICBNMCwxMCBsMTAsLTEwDQogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzEnLz4NCjwvc3ZnPg==" x="0" y="0" width="5" height="5")