footer.footer
    .container
        .columns
            .column.is-3
                img(src="/images/logo-weiß.png", alt="Genthner SchneidTechnik")

            .column.is-6.is-offset-3
                h4 Kontakt
                .columns
                    .column
                        address
                            |Genthner SchneidTechnik GmbH &amp; Co. KG<br>
                            |Humboldtstraße 1<br>
                            |75334 Straubenhardt<br>
                            |Deutschland
                    .column.is-narrow.is-pulled-right
                        i.fas.fa-phone.mr
                        a(href="tel:+497082xxxxxx") +49-7082-xxxxx<br>
                        i.fas.fa-fax.mr
                        a(href="tel:+497082xxxxxx") +49-7082-xxxxx<br>
                        i.fas.fa-envelope.mr
                        a(href="mailto:info@genthner.com") info@genthner.com

        hr
        .columns
            .column.is-narrow
                a Impressum
            .column.is-narrow
                a Datenschutz
            .column.has-text-right
                p &copy; 2018 Genthner SchneidTechnik GmbH &amp; Co. KG