nav#main-nav.navbar.is-fixed-top
    div.container
        div.navbar-brand
            a.navbar-item(href="https://www.genthner-schneidtechnik.com/")
                img(src="/images/logo-weiß.png", alt="Genthner SchneidTechnik")

            a.navbar-burger(role="button", aira-label="menu", aria-expanded="false")
                span(aria-hidden="true")
                span(aria-hidden="true")
                span(aria-hidden="true")
        
        div.navbar-menu
            div.navbar-end
                a.navbar-item 
                    span.underline-hover Wasserstrahlschneiden
                a.navbar-item 
                    span.underline-hover Anarbeitung
                a.navbar-item 
                    span.underline-hover Einsatzgebiete
                a.navbar-item 
                    span.underline-hover Werkstoffe
                div.navbar-item
                    a.button.parallelogram(href="#")
                        span.skew-fix Kontakt