extends layout

block content

    section.hero.is-fullheight.landing
        div.hero-header
        div.hero-body
        div.hero-foot
            div.container
                h1.title Wasserstrahlschneiden
                div.columns
                    h2.subtitle.column.is-narrow Ohne thermische veränderung
                    div.column.is-narrow 
                        i.fas.fa-circle.is-vertical-center
                    h2.subtitle.column.is-narrow Maximal 0,04 mm Tolleranz
                    div.column.is-narrow 
                        i.fas.fa-circle.is-vertical-center
                    h2.subtitle.column Jeden Werkstoff

    section.hero
        .parallax-window.parallax(data-parallax="scroll", data-image-src="/images/waterjet.jpg")
        .container
            h3 3D &amp; 2D Wasserstrahlschneiden
            p Lustige all fingern gru preisen wei. Spateren ist brauchte ziemlich vergnugt ich unbeirrt. Vielem hinauf lebtag wo ja seinen wu spinat. Schreibt du es pa hausherr erzahlte so. Ist dir konntest was hubschen gegangen einander. Wahres kommst diesen machte so ja. Unrecht grausam stopfen ri gefreut wo atemzug la da. Sonderling gutmutigen la marktplatz getunchten mu am wohlgefuhl wohnzimmer in. 
            p Gar aus stunde messer schlie. Behutsam zog ehrbaren geholfen ihm eigentum mir. Schleiche je se schwachen angerufen. Gro schoner bin anrufen langsam offenen nachdem fingern. Birkendose lattenzaun so geschlafen vorsichtig vielleicht am bodenlosen. Ture ja se floh ganz. Geborene schmalen tadellos ort hob sag geholfen vom schlafen hinunter. Zeigte nieder bin weg die mutter wie kummer fellen lassig. Also nun igen sog wei brot. Hufschmied mut man wohlgefuhl mir grasgarten. 

    section.container
        h3 Schnittqualitäten

    section.container
        h3 Anarbeitung
        .columns
            .column.is-4
                .card
                    .card-image
                        figure.image.is-4by3
                            img(src="/images/bending.jpg", alt="Placeholder")
                    .card-content
                        .media
                            .media-left
                                figure.image.is-48x48
                                    img(src="https://bulma.io/images/placeholders/96x96.png")
                            .media-content
                                p.title.is-4 John Smith
                                p.subtitle.is-6 @lul.exe
                        .content
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus nec iaculis mauris.

            .column.is-4
                .card
                    .card-image
                        figure.image.is-4by3
                            img(src="/images/bending.jpg", alt="Placeholder")
                    .card-content
                        .media
                            .media-left
                                figure.image.is-48x48
                                    img(src="https://bulma.io/images/placeholders/96x96.png")
                            .media-content
                                p.title.is-4 John Smith
                                p.subtitle.is-6 @lul.exe
                        .content
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus nec iaculis mauris.

            .column.is-4
                .card
                    .card-image
                        figure.image.is-4by3
                            img(src="/images/bending.jpg", alt="Placeholder")
                    .card-content
                        .media
                            .media-left
                                figure.image.is-48x48
                                    img(src="https://bulma.io/images/placeholders/96x96.png")
                            .media-content
                                p.title.is-4 John Smith
                                p.subtitle.is-6 @lul.exe
                        .content
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus nec iaculis mauris.

        section.container#werkstoffe
            h3 Werkstoffe
            .columns.is-multiline
                .column.is-3
                    figure.image
                        img(src="/images/materials/aluminium.jpg", alt="Placeholder")
                        .content
                            h6 Aluminium
                .column.is-3
                    figure.image
                        img(src="/images/materials/edelstahl.jpg", alt="Placeholder")
                        .content
                            h6 Aluminium
                .column.is-3
                    figure.image
                        img(src="/images/materials/glass.jpg", alt="Placeholder")
                        .content
                            h6 Glass
                .column.is-3
                    figure.image
                        img(src="/images/materials/gummi.jpg", alt="Placeholder")
                        .content
                            h6 Gummi
                .column.is-3
                    figure.image
                        img(src="/images/materials/kunststoff.jpg", alt="Placeholder")
                        .content
                            h6 Kunststoff
                .column.is-3
                    figure.image
                        img(src="/images/materials/schaumstoff.jpg", alt="Placeholder")
                        .content
                            h6 Schaumstoff
                .column.is-3
                    figure.image
                        img(src="/images/materials/stahl.jpg", alt="Placeholder")
                        .content
                            h6 Stahl
                .column.is-3
                    figure.image
                        img(src="/images/materials/titan.jpg", alt="Placeholder")
                        .content
                            h6 Titan
                .column.is-3
                    figure.image
                        img(src="/images/materials/titan.jpg", alt="Placeholder")
                        .content
                            h6 Titan

        section.container
            h3 Zertifizierungen

        section.container
            h3 Über uns