doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Hackathon Starter
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/main.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")

  body
    include partials/header

    block content

    include partials/footer

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js")
    script(src='/js/main.js')

