doctype html
html(lang="en")
  include includes/head.pug
  body

    //- Navigation
    div.wrapper
      nav(id="sidebar")
        div(id="dismiss")
          i.fa.fas.fa-arrow-left

        div.sidebar-header
          h3 HEAD

        ul.list-unstyled.components
          p TITLE
          li.active
            a.nav-link(href=".") Home
          li
            a.nav-link(href="/dashboard") Dashboard
          li
            a.nav-link(href="/other") Other

      div.p-0(id="content")
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
          button.btn.btn-info(type="button" id="sidebarCollapse")
            i.fa.fas.fa-align-justify
          span.text-light TITLE
          button.btn.btn-info(type="button" id="helpButton")
            i.fa.fas.fa-question-circle.text-light

        div.container
          div.row
            div.col
              block chart-top
          div.row
            div.col.chartCol
              div.container.mx-1(id="chartCanvas")
                  block chart

          include includes/footer.pug

    div.overlay

    //- script(src="/public/js/jquery.custom-scrollbar.js")
    script(src="/public/js/pages/layout.js")