extends ../layout.pug

block chart
  h4 Introduction
  p.text-block This application is part of a masters thesis on mobile dashboards and reporting. It serves as a technical demonstration to show various visualizations and interactions, derived from novel research into this topic.

  h4 Usage
  p.text-block For the best experience, it is recommended to install the application on your device. Depending on your browser you might either get a notification that you can do that, or you have to open the context menu and select "Install" or "Add to Home Screen". That way you get the full native experience including notifications and offline access.<br>Use a long touch to get details about a KPI, and short clicks for drilling down.

  h4 Source Code
  p.text-block The full source to this project, including instructions for setup, is available under the MIT license at GitHub:<br>
    a.alert-link(href="https://github.com/nilshoell/dashboard-pwa")
      i.fa.fab.fa-github
      |  nilshoell/dashboard-pwa

  button.btn.btn-main.mb-2#cachePurge(type="button") Purge Data Caches
  div.alert.alert-success.alert-dismissible.fade#purgeAlert(role="alert") Caches Purged!
    button.close(type="button" aria-label="Close")
      span(aria-hidden="true") &times;