extends ../layout.pug

block chart-top
  p Customer KPIs

block chart
  div.container.mx-1.pl-0.chart-canvas(id="barChart1")

block chart-bottom
  script(src="/public/js/pages/customers.js" type="module")