extends ../layout.pug
include ../includes/chartContainers.pug

block chart-top
  p Customer KPIs

block chart
  +barChart("barChart1")
  +barChart("columnChart1")

block chart-bottom
  script(src="/public/js/pages/customers.js" type="module")