extends ../layout.pug
include ../includes/chartContainers.pug

block chart-top
  p Important KPIs

block chart
  +kpiBar("kpiBar1")
  +kpiBar('kpiBar2')
  +kpiBar('kpiBar3')
  +kpiBar('kpiBar4')
  +kpiBar('kpiBar5')
  +kpiBar('kpiBar6')

block chart-bottom
  script(src="/public/js/pages/dashboard.js" type="module")