extends ../layout.pug
include ../includes/chartContainers.pug

block chart-top
  h4.text-light Welcome!

block chart
  div.container.p-0
    div.carousel.slide#kpiCarousel(data-touch="true" data-interval="false")
      ol.carousel-indicators
        li.active(data-target="#kpiCarousel" data-slide-to="0")
        li(data-target="#kpiCarousel" data-slide-to="1")
        li(data-target="#kpiCarousel" data-slide-to="2")
      div.carousel-inner
        div.carousel-item.active
          +kpiTile('tile1')
        div.carousel-item
          +kpiTile('tile2')
        div.carousel-item
          +kpiTile('tile3')
      a.carousel-control-prev(href="#kpiCarousel" role="button" data-slide="prev")
        span.carousel-control-prev-icon
      a.carousel-control-next(href="#kpiCarousel" role="button" data-slide="next")
        span.carousel-control-next-icon

  
  div.row.mt-4
    div.col-6
      a.btn.btn.btn-secondary.btn-sq(role="button" href="/dashboard")
        i.fa.fas.fa-tachometer-alt.fa-3x
        br
        span.font-weight-bold Dashboard
    div.col-6
      a.btn.btn.btn-secondary.btn-sq(role="button" href="/customers")
        i.fa.fas.fa-industry.fa-3x
        br
        span.font-weight-bold CPA
  div.row.mt-4
    div.col-6
      a.btn.btn.btn-secondary.btn-sq(role="button" href="/projects")
        i.fa.fas.fa-project-diagram.fa-3x
        br
        span.font-weight-bold Projects
    div.col-6
      a.btn.btn.btn-secondary.btn-sq(role="button" href="/personal")
        i.fa.fas.fa-user.fa-3x
        br
        span.font-weight-bold Personal

block chart-bottom
  script(src="/public/js/pages/home.js" type="module")