extends ../layout.pug
include ../includes/chartContainers.pug

block chart-top
  div.d-none#kpi #{page.id}

block chart
  //- Timeline view
  +timeline("timeline")
  +barChart("columnChart")
  //- Components view
  div#components
    h4.mt-2 Components
    span.font-weight-bold Calculation: 
      span.font-weight-normal#formula
    hr
    +toggleSwitch("toggleSwitch")
    +sparkbar("1")
    +sparkbar("2")
    +sparkbar("3")


block chart-bottom
  script(src="/public/js/pages/kpi.js" type="module")