extends ../layout.pug
include ../includes/chartContainers.pug

block chart-top
  p KPI Overview

block chart
  p Params: #{JSON.stringify(params)}
  p Body: #{JSON.stringify(body)}

block chart-bottom
  script(src="/public/js/pages/kpi.js" type="module")