extends ../layout.pug
include ../includes/chartContainers.pug

block chart-top
  p KPI Overview

block chart
  //- Timeline view
  +timeline("timeline1")
  //- Components view
  button.btn.btn-light.d-sm-none.ml-2.mb-2#toggleView Toggle View
  +quickKPI("1")
  +quickKPI("2")
  +quickKPI("3")


block chart-bottom
  script(src="/public/js/pages/kpi.js" type="module")