extends ../layout.pug
include ../includes/chartContainers.pug

block chart-top
  div.btn-group.ml-3(role="group")
    button.btn.btn-main#pn-setup
      i.fa.fas.fa-bell
      |  Setup Notifications
    button.btn.btn-main#pn-trigger(style="border-left: 2px solid gray;")
      i.fa.fas.fa-paper-plane
      |  Notify Me!

block chart
  +sparkbar("cr")
  +sparkbar("bh")
  +sparkbar("wl")
  +brickWall("tw")

block chart-bottom
  script(src="/public/js/pages/personal.js" type="module")