extends ../layout.pug

block chart-top
  p Project-Related KPIs

block chart
  div.container.mx-1.chart-canvas.sparkline.mt-2(id="sparkline1")
  div.container.mx-1.chart-canvas.sparkline.mt-2(id="sparkline2")
  div.container.mx-1.chart-canvas.sparkline.mt-2(id="sparkline3")
  div.container.mx-1.chart-canvas.sparkline.mt-2(id="sparkline4")
  div.container.mx-1.chart-canvas.sparkline.mt-2(id="sparkline5")

block chart-bottom
  script(src="/public/js/pages/projects.js" type="module")