extends ../layout.pug
include ../includes/chartContainers.pug

block chart-top
  p Project-Related KPIs

block chart
  +sparkline("sparkline1")
  +sparkline("sparkline2")
  +sparkline("sparkline3")
  +sparkline("sparkline4")
  +sparkline("sparkline5")

block chart-bottom
  script(src="/public/js/pages/projects.js" type="module")