extends layout.pug

block content
  h4 Offline
  span You probably have no connection to the internet, and the page you are trying to reach has not yet been cached.
  div.mx-auto(style="width: 50vw;")
    a.btn.btn-main(href="/" role="button" style="width: 100%;") Return to Home